@page
@model BooksRazorApp.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<br />
<div class="container row m-0 p-0">
    <div class="col-md-9">
        <h2 class="text-secondary">Book List</h2>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary text-white form-control" asp-page="Create">Add new book</a>
    </div>

    <div class="col-md-12 mt-3">
        <table class="table table-striped d-sm-table">
            <thead>
                <tr class="text-center">
                    <th><label asp-for="Book.FirstOrDefault().Name"></label></th>
                    <th><label asp-for="Book.FirstOrDefault().Author"></label></th>
                    <th><label asp-for="Book.FirstOrDefault().ISBN"></label></th>
                    <th><label>Actions</label></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Book.Count() > 0)
                    {
                        foreach (var item in Model.Book)
                        {
                            <tr class="text-center">
                                <td>@item.Name</td>
                                <td>@item.Author</td>
                                <td>@item.ISBN</td>
                                <td>
                                    <a asp-page="Edit" asp-route-id="@item.ID" class="btn btn-secondary btn-sm">Edit</a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="4"><h3 class="text-center">No Results Found</h3></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-12 text-center">
        <a asp-page="/Index">Back to Home</a>
    </div>
</div>